.row{
margin-left: 20px;
color: #fff;
margin-right: 20px;
}

.posters{

    display: flex;
 padding-top: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 45px;
  
}

.poster-title{
margin-top: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 20px;
font-weight: 300;
color: rgb(255, 255, 255);

}

.poster{
  max-height: 180px;
    margin-right: 15px;
    transition: transform 0.3s ease;
    cursor: pointer;
   
}
.posters::-webkit-scrollbar{
    display: none;
}

.poster-name{

    font-weight: 400;
    font-size: medium;
}

.poster-div{
text-align: center;
}


.poster:hover{

    transform: translateY(-10px);
}
.closeVideo{
  position: absolute;
  background-color: #ff0000;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 10px;
margin-left: 48%;
margin-top: 5px;
color: white;

}
.closeVideo:hover {
    background-color: #ffffff;
    color: rgb(5, 5, 5);
  }